/bestsub.exe
/bestsub
/ADD.txt
/PROXYIP.txt
/.vscode/
/.idea/
.DS_Store
/configs/config.yaml
/dist/
/build/bin/
/build/*.DS_Store
/frontend/node_modules/
/tmp/
/coverage.out
/seeds.txt
/PROJECT_PLAN.md
/JS修改版.txt
!/internal/geoipdata/GeoLite2-Country.mmdb

*.exe
*.log
*.local
*.local.yaml
*.mmdb
!/internal/geoipdata/GeoLite2-Country.mmdb
